body {
    margin-top: 70px;
    font-family: "Helvetica Neue";
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    background: #aaf;
    
}

nav > .item {
    font-size: 14pt;
    color: white;
    padding: 23px;
    text-decoration: none;
    /* Add code here */
}

nav > .item:hover {
    opacity: 80;
}

nav > .item:last-child {
    color: #eee;
    margin-left: auto;
}

div > div.container{
    padding: 20px;
}

div > div.centered {
    text-align: center;
}

div > input {
    font-size: 14pt;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 5px;
}

div > .notes {
    display: flex;
    justify-content: center;
    flex-wrap: inherit;
}

.note {
    width: 300px;
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.note > h1 {
    font-size: 18pt;
    margin: 5px 0px 0px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.note > p {
    height: 300px;
    overflow-y: scroll;
    white-space: wrap;
}